<div class="container">
  <h1>Welcome to the online BOOKSTORE!</h1>
  <h3>Explore our top categories</h3>
  <mat-grid-list cols="3" rowHeight="12:9" gutterSize="20px">
    @for(category of (categories$ | async); track category.id){
    <mat-grid-tile>
      <mat-card class="card" [routerLink]="['/category', category.slug]">
        <img mat-card-image [src]="url + category.image?.url" alt="Category">

        <div class="card__inner">
          <h2>{{ category.name }}</h2>
          <h4>({{ category.products?.length }} books)</h4>
        </div>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>

@if(loading) {
  <div class="overlay">
    <mat-spinner></mat-spinner>
  </div>
}