@import "../../common.scss";

.toolbar {
  display: flex;
  justify-content: center;
  box-shadow: 0 7px 8px rgba($customPurple, 0.8);

  button {
    font-weight: normal;
  }
  .active {
    font-weight: bold !important;
  }
}

