@if((product$ | async); as product) {
<div class="container">
  <mat-card class="book-image">
    <img mat-card-image [src]="url + product.image?.url" alt="Book" />
  </mat-card>
  <div class="book-info">
    <h2>{{ product.name }}</h2>
    <h4>{{ product.description }}</h4>
    <h2>{{ product.price | currency : "EUR" }}</h2>
    <div class="book-buy">
      <button mat-raised-button color="primary" disabled>Buy</button>
      @if((countdown$ | async); as time) {
      <div class="timer" matTooltip="If you order it today, it will be delivered tomorrow" matTooltipPosition="right">
        <mat-icon class="icon">alarm</mat-icon>
        <h4>{{ time }}</h4>
      </div>
      }
    </div>
  </div>
</div>
}
<div class="book-grid-headline">
  <h2>Books from the same category</h2>
</div>

<mat-grid-list cols="3" rowHeight="3:4" gutterSize="20px" class="book-grid">
  @for(sameCategoryProduct of (sameCategoryProducts$ | async); track sameCategoryProduct.id){
  <mat-grid-tile>
    <mat-card class="book-tile" [routerLink]="['/product', sameCategoryProduct.slug]">
      <img mat-card-image [src]="url + sameCategoryProduct.image?.url" alt="Book">
      <mat-card-footer class="book-footer">
        <p>{{ sameCategoryProduct.name }}</p>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  }
</mat-grid-list>


@if(loading) {
<div class="overlay">
  <mat-spinner></mat-spinner>
</div>
}
